<script id="headlines-index-template" type="text/x-handlebars-template">
    <a href="#" data-task="submit" data-forms="#sort-headlines" data-method="put" data-action="headlines" class="btn green pull-right in-breadcrumbs"><i class="fa fa-check"></i> Save Ordering</a>
    <div class="row no-min-height">
        <div class="col-xs-12">
            <div id="messages" style="display: none;">
                <div class="note note-success"><h4 class="block">Success!</h4><p>Ordering Saved</p></div>
            </div>
        </div>
    </div>
    <div id="sort-headlines" class="col-xs-12 sortable">
        {{#each []}}
        <div class="row item" data-id="{{this.SiteItemID}}" data-section-order="{{this.SectionOrder}}">
            <div class="col-xs-1"><span class="item-id">{{this.SiteItemID}}</span></div>
            <div class="col-xs-7"><span class="item-title"><a href="#dashboard/item/{{this.SiteItemID}}" class="show-item">{{this.Title}}</a></span></div>
            <div class="col-xs-1"><span class="item-state">{{this.StateHTML}}</span></div>
            <div class="col-xs-3"><span class="item-crated">{{{this.CreateDate}}}</span></div>
            <!--<div class="col-xs-3"><span class="item-sections">{{{this.SectionsHtml}}}</span></div>-->
        </div>
        {{else}}
        No Content
        {{/each}}
    </div>
</script>