<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MainConnectionString" value="Data Source=192.168.101.3;Initial Catalog=iran;Persist Security Info=True;User ID=sa;Password=Presstv@123456"/>
    <add key="FilesAddress" value="http://192.168.101.3:81/pl/frontend.svc/" />
    <add key="VideoBaseHost" value="http://217.218.67.233:82/video/iran/" />
    <add key="ImageBaseHost" value="http://93.190.24.9:83/images/original/" />
    <add key="ImageSavePath" value="\\192.168.101.3\d$\Softwares\Files\Images" />
  </appSettings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="presstv@123456"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" executionTimeout="100000" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="CoreSerivce.PL.Users" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="CoreSerivce.PL.IUsers" behaviorConfiguration="web"></endpoint>
      </service>

      <service name="CoreSerivce.PL.Tags" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="CoreSerivce.PL.ITags" behaviorConfiguration="web"></endpoint>
      </service>

      <service name="CoreSerivce.PL.Polls" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="CoreSerivce.PL.IPolls" behaviorConfiguration="web"></endpoint>
      </service>

      <service name="CoreSerivce.PL.Comments" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="CoreSerivce.PL.IComments" behaviorConfiguration="web"></endpoint>
      </service>

      <service name="CoreSerivce.PL.Contents" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="CoreSerivce.PL.IContents" behaviorConfiguration="web"></endpoint>
      </service>

      <service name="CoreSerivce.PL.Categories" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="CoreSerivce.PL.ICategories" behaviorConfiguration="web"></endpoint>
      </service>

      <service name="CoreSerivce.PL.Repositories" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding"  contract="CoreSerivce.PL.IRepositories" behaviorConfiguration="web" ></endpoint>
      </service>

      <service name="CoreSerivce.PL.ContentsFlow" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding"  contract="CoreSerivce.PL.IContentsFlow" behaviorConfiguration="web" ></endpoint>
      </service>
      <service name="CoreSerivce.PL.Frontend" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding"  contract="CoreSerivce.PL.IFrontend" behaviorConfiguration="web" ></endpoint>
      </service>
      <service name="CoreSerivce.PL.Programs" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding"  contract="CoreSerivce.PL.IPrograms" behaviorConfiguration="web" ></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--Here is for upload large file:-->
      <webHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647" transferMode="Streamed">        
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>