<div id="masthead" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-4">
                <div class="pull-right">
                    <ul class="list-unstyled list-inline">
                        <li><a href="/directo" class="btn btn-danger btn-xs">TV en Directo <i class="icon-tv"></i></a></li>
                        <!--<li class="hidden-xs"><a href="#">Sea Reportero</a></li>-->
                        <li class="hidden-xs"><a href="/distribución">Distribución</a></li>
                        <li><a href="http://93.190.24.12/Conductor_Calendar.aspx" target="_blank">Programación</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>