<div id="poll" class="row">
    <div class="col-xs-12">
        <div class="panel poll">
            {{#if Config.Site_Modules_Title}}<div class="panel-title"><span>{{Config.Site_Modules_Title}}</span></div>{{/if}}
            <div class="panel-body">
                <div class="question">{{Data.Title}}</div>
                <div class="answers">
                    {{#if Data.AllowNew}}
                    <form role="form" action="/callback.asmx/insertPoll?" method="post">
                        <input type="hidden" name="pollid" value="{{Data.Id}}" />
                        {{#each Data.Polls_Options}}
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionid" id="answer-{{Id}}" value="{{Id}}">
                                {{Title}}
                            </label>
                        </div>
                        {{/each}}
                        <a href="#" data-task="submit" class="btn black">Enviar</a>
                    </form>
                    {{#else}}
                    <ul>
                        {{#each Data.Polls_Options}}
                        <li>
                            {{Title}} %{{Percent}}{{#if Data.ShowValues}} - ({{SelectedCount}}){{/if}}
                            <div class="percent">
                                <div class="bar" style="width: {{Percent}}%">
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{#if Data.ShowTotal}}
                        <div class="total">
                            Total votes:&nbsp;<strong>{{Data.TotalCount}}</strong>
                        </div>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>