<script id="dashboard-edit-template" type="text/x-handlebars-template">
    <div class="row no-min-height">
        <div class="col-xs-12">
            <div id="messages" style="display: none;"></div>
        </div>
    </div>
    <div class="row no-min-height">
        <div class="col-xs-12">
            {{#ifCond Editing 1}}
            <div id="messages">
                <div class="alert alert-warning"><strong>Warning!</strong>This item is being edited by another user.</div>
            </div>
            {{/ifCond}}
        </div>
    </div>
    <div class="autosave-msg">Item Auto-Saved</div>
    <div id="item-edit" data-itemid="{{Id}}" data-editing="{{Editing}}" class="row">
        <div class="col-md-9">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Item Form</div>
                </div>
                <div class="portlet-body form">
                    <form id="item-form" class="form-horizontal" role="form" action="#">
                        <input type="hidden" name="Editing" value="0" />
                        <div class="form-body">
                            <!--<h4>Titles</h4>-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Title </label>
                                <div class="col-md-10">
                                    <input type="text" name="Title" class="form-control" placeholder="Enter title" value="{{Title}}" required>
                                </div>
                            </div>
							<!--
                            <div class="form-group">
                                <label class="col-md-2 control-label">Short Title</label>
                                <div class="col-md-10">
                                    
                                </div>
                            </div>
							-->
							<input type="hidden" name="ShortTitle" class="form-control" placeholder="Enter second title" value="{{ShortTitle}}">
                            <hr />
                            <!--<h4>Text</h4>-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Summary</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" name="Introtext" rows="2" placeholder="Summary">{{{Introtext}}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label class="col-md-2 control-label">Item Body</label>-->
                                <div class="col-md-12 item-editor">
                                    <textarea id="item-body" name="Fulltext" class="form-control has-editor" rows="10">{{{Fulltext}}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-12">
                                <a href="#submit" data-next="history/back" data-task="submit" data-forms="#item-form,#item-fields,#item-fields2,#item-media" data-method="put" data-itemid="{{Id}}" data-action="item" class="btn green pull-right"><i class="fa fa-check"></i> Save</a>
                                <a href="#autosave" id="autosave-button" data-task="submit" data-forms="#item-form,#item-fields,#item-fields2,#item-media" data-method="put" data-itemid="{{Id}}" data-action="item" data-next="$$" class="btn green pull-right hide"><i class="fa fa-save"></i> AutoSave</a>
                                <a href="#dashboard/add" data-task="submit" data-forms="#item-form,#item-fields,#item-fields2,#item-media" data-method="put" data-itemid="{{Id}}" data-action="item" data-next="dashboard/add" class="btn blue pull-right"><i class="fa fa-plus"></i> Save and New</a>
                                <a href="#history/back" data-edited="1" class="btn default pull-left">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="portlet box green ">
                <div class="portlet-title">
                    <div class="caption">Item Fields</div>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="item-fields" class="form-horizontal" role="form" action="#" >
                        <div class="form-body">
							<!--
                            <label class="control-label">URL</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="url" name="Alias" class="form-control" placeholder="Enter URL" value="{{Alias}}">
                                </div>
                            </div>
							-->
							<label class="control-label">Youtube Link</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="url" name="Youtube" class="form-control" placeholder="Enter Youtube URL" value="{{Youtube}}">
                                </div>
                            </div>
                            <label class="control-label">Tags</label>
                            <div class="form-group">                
                                <div class="col-md-12">
                                    <div id="tags-map" style="display: none;">
                                        {{TagIDs}}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa fa-tags"></i>
                                        <input type="text" name="tags[]" id="tag-suggest" class="form-control" placeholder="Tags">
                                    </div>
                                </div>
                            </div>
                            <label class="control-label">Sections</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div id="sections-map" style="display: none;">
                                        {{SectionIDs}}
                                    </div>
                                    <select class="form-control" multiple="multiple" name="sections[]" id="sections-select" style="height: 150px">
                                        {{#sections}}{{/sections}}
                                    </select>
                                    <div id="section-orderings"></div>
                                </div>
                            </div>
                            <hr />
                            <label class="control-label">State</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control" name="IsPublished">
                                        {{#select IsPublished}}
                                        <option value="0">Unpublished (Draft)</option>
                                        <option value="1">Published</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
							<hr />
							<!--
                            <label class="control-label">Priority</label>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control" name="ItemPriority">
										{{#select ItemPriority}}
                                        <option value="0">Low</option>
                                        <option value="1" selected>Normal</option>
                                        <option value="2">High</option>
										{{/select}}
                                    </select>
                                </div>
                            </div>
							-->
							<input type="hidden" name="ItemPriority" value="1" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">Media</div>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form id="item-media" class="form-horizontal" role="form" action="#">
                        <div class="form-body">
                            <div class="list">
                                <ul class="list-unstyled">
                                    {{#each Repositories}}
                                    <li data-type="{{mediaKind}}" data-id="{{Id}}">
                                        <div class="inner"><div class="img"><img src="{{Thumbnail}}" alt="{{Description}}" /></div><div class="desc"><h3>{{Description}}</h3></div>
                                            <div class="remove-button"><i class="fa fa-trash-o"></i></div>
                                        </div>
                                        <input type="hidden" name="media[]" value="{{Id}}" />
                                        {{#if FilePath}}<input type="hidden" name="relPath[]" value="{{FilePath}}" />{{/if}}
                                        {{#if Kind}}<input type="hidden" name="kind[]" value="{{Kind}}" />{{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="items"></div>
                            <div class="clearfix"></div>
                            <a class="btn purple" data-toggle="modal" href="#attachments-modal"><i class="fa fa-plus"></i>&nbsp;Add Media</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <div class="modal bs-modal-lg fade" id="attachments-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Media Repository</h4>
                </div>-->
                <div class="modal-body">
                    <div class="tabbable tabbable-custom tabbable-full-width">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#search-images" role="tab" data-toggle="tab">Images</a></li>
                            <!--<li><a href="#search-afp" role="tab" data-toggle="tab">AFP Photos</a></li>-->
                            <li><a href="#search-videos" role="tab" data-toggle="tab">Videos</a></li>
                            <li><a href="#upload-media" role="tab" data-toggle="tab">Upload</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="search-images">
                                <form id="images-form" class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search Images..." name="query" style="" />
                                        <a href="#" data-task="submit" data-forms="#images-form" data-identifier="do-search" data-method="get" data-action="images" data-results="#images-results" class="btn btn-default">Search</a>
                                    </div>
                                </form>
                                <div id="images-results"></div>
                            </div>
                            <div class="tab-pane" id="search-afp">
                                <div id="afp-serach">
                                    <form id="afp-form" class="form-inline" role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search AFP Photos..." name="q" style="" />
                                            <a href="#" data-task="submit" data-forms="#afp-form" data-identifier="do-search" data-method="get" data-action="afp" data-results="#afp-results" class="btn btn-default">Search</a>
                                        </div>
                                    </form>
                                    <div id="afp-results"></div>
                                </div>
                                <div id="afp-temp-form" class="row" style="display: none;">
                                    <div id="afp-preview" class="col-xs-8">
                                        <div class="inner"></div>
                                    </div>
                                    <div id="afp-fields" class="col-xs-4">
                                        <form role="form" id="afp-fields-form">
                                            <div class="form-group">
                                                <div class="input-icon">
                                                    <i class="fa fa-file-text"></i>
                                                    <input type="text" name="Title" id="afp-title" class="form-control" placeholder="Title" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-icon">
                                                    <i class="fa fa-tags"></i>
                                                    <input type="text" name="tags" id="afp-tag-suggest" class="form-control" placeholder="Tags">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="Description" rows="3" placeholder="Description"></textarea>
                                            </div>
                                            <input type="hidden" name="l" value="" data-method="get" />
                                            <input type="hidden" name="t" value="" data-method="get" />
                                            <input type="hidden" name="w" value="" data-method="get" />
                                            <input type="hidden" name="h" value="" data-method="get" />
                                            <input type="hidden" name="Type" value="image" />
                                            <input type="hidden" name="Address" value="" />
                                            <div class="form-group">
                                                <a class="btn purple" data-task="submit" data-action="save-media" data-forms="#afp-temp-form" data-method="post" data-results="afp" href="#"><i class="fa fa-save"></i> Save</a>
                                                <a class="btn purple-seance" data-task="submit" data-action="save-add-media" data-forms="#afp-temp-form" data-method="post" data-results="afp" href="#"><i class="fa fa-plus"></i> Save and add</a>
												<a class="btn grey margin-top pull-right" data-task="cancel-upload" data-type="afp" style="margin-top: 30px;">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="search-videos">
                                <form id="videos-form" class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search Videos..." name="query" style="" />
                                    </div>
                                    <div class="form-group">
                                        <div class="input-daterange input-group">
                                            <input type="text" class="form-control" name="start" value="{{#date2 0}}{{/date2}}" />
                                            <span class="input-group-addon">to</span>
                                            <input type="text" class="form-control" name="end" value="{{#date2 0}}{{/date2}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a href="#" data-task="submit" data-forms="#videos-form" data-identifier="do-search" data-method="get" data-action="videos" data-results="#video-results" class="btn btn-default">Search</a>
                                    </div>
                                </form>
                                <div id="video-results"></div>
                            </div>
                            <div class="tab-pane" id="upload-media">
                                <div id="media-temp-form" class="row" style="display: none;">
                                    <div id="media-preview" class="col-xs-8">
                                        <div class="inner"></div>
                                    </div>
                                    <div id="media-fields" class="col-xs-4">
                                        <form role="form" id="media-fields-form">
                                            <div class="form-group">
                                                <div class="input-icon">
                                                    <i class="fa fa-file-text"></i>
                                                    <input type="text" name="Title" id="media-title" class="form-control" placeholder="Title">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-icon">
                                                    <i class="fa fa-tags"></i>
                                                    <input type="text" name="tags" id="media-tag-suggest" class="form-control" placeholder="Tags">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="Description" rows="3" placeholder="Description (required)"></textarea>
                                            </div>
                                            <input type="hidden" name="X" value="" />
                                            <input type="hidden" name="Y" value="" />
                                            <input type="hidden" name="WidthCrop" value="" />
                                            <input type="hidden" name="HeightCrop" value="" />
                                            <input type="hidden" name="Type" value="image" />
                                            <input type="hidden" name="FullFileName" value="" />
                                            <div class="form-group">
                                                <a class="btn purple" data-task="submit" data-action="save-media" data-forms="#media-temp-form" data-method="post" href="#"><i class="fa fa-save"></i> Save</a>
                                                <a class="btn purple-seance" data-task="submit" data-action="save-add-media" data-forms="#media-temp-form" data-method="post" href="#"><i class="fa fa-plus"></i> Save and add</a>
												<a class="btn grey margin-top pull-right" data-task="cancel-upload" data-type="image" style="margin-top: 30px;">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="file-upload"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default pull-left" data-dismiss="modal">Close</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</script>
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span>Drop files here to upload</span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>