<div class="inner">
    {{#each Data}}
    <div{{#if first}} {{#else}} class="hide" style="display: none;"{{/if}}>
        <div class="type-image"><i class="icon-{{cssClass}}"></i></div>
        <div class="temperature">{{temp}}&nbsp;C</div>
        <div class="location">{{name}}</div>
    </div>
    {{/each}}
    <div class="choose-location">
        <select name="region" id="region-select" data-type="select" data-placeholder="Elija su región">
            {{#each Data}}
            <option value="{{id}}" {{#if first}} selected="selected" {{/if}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
</div>