<article id="item">
    <div class="wrapper _default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="panel item">
                        <section class="panel-body">
                            <div class="item-media">
                                <figure>
                                    <img alt="Iran" src="/Views/Assets/data/about.jpg" />
                                </figure>
                            </div>
                            <div class="item-desc">
                                <h2 class="item-title">About us</h2>
                                <div class="item-text">
                                    <div class="introtext">
                                        <p>The "Iran" program is a 25 minute weekly show that explores Iran's past, present, and future with exclusive reports.</p>
                                        <p>Through "Iran", we do our best to help our audience discover this ancient land anew and get acquainted with its art and culture.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-sharing">
                                <div class="inner">
                                    <h4>Share</h4>
                                    <ul class="list-unstyled list-inline">
                                        <li class="fb"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://iran.presstv.ir"><i class="icon-facebook"></i></a></li>
                                        <li class="tw"><a target="_blank" href="https://twitter.com/home?status=http://iran.presstv.ir"><i class="icon-twitter"></i></a></li>
                                        <li class="gp"><a target="_blank" href="https://plus.google.com/share?url=http://iran.presstv.ir"><i class="icon-gplus"></i></a></li>
                                        <li class="em"><a href="#"><i class="icon-email"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-comments">
                                <div class="inner">
                                    <div id="hypercomments_widget"></div>
                                    <script type="text/javascript">
                                        _hcwp = window._hcwp || [];
                                        _hcwp.push({ widget: "Stream", widget_id: 29636,xid: "iran-cAbout" ,hc_disable:1,quote_disable:1,social:"google, facebook, twitter, openid",comments_level:2});
                                        (function () {
                                            if ("HC_LOAD_INIT" in window) return;
                                            HC_LOAD_INIT = true;
                                            var lang = "en";
                                            var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                                            hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/29636/" + lang + "/widget.js";
                                            var s = document.getElementsByTagName("script")[0];
                                            s.parentNode.insertBefore(hcc, s.nextSibling);
                                        })();
                                    </script>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div id="sidebar" class="col-xs-12 col-md-4">
                    
                </div>
            </div>
        </div>
    </div>
</article>