<div id="banners" class="row hidden-xs hidden-sm">
    <div class="col-xs-12">
        <!--<div class="panel banner">
            <a href="#"><img src="/Views/Assets/img/banner6.jpg" alt="" /></a>
        </div>-->
        <!--<div class="panel banner">
            <a href="#"><img src="/Views/Assets/img/banner1.jpg" alt="" /></a>
        </div>-->
        <!--<div class="panel banner">
            <a href="#"><img src="/Views/Assets/img/banner3.jpg" alt="" /></a>
        </div>
        <div class="panel banner">
            <a href="#"><img src="/Views/Assets/img/banner2.jpg" alt="" /></a>
        </div>-->
        <!--<div class="panel banner">
            <a href="#"><img src="/Views/Assets/img/banner5.jpg" alt="" /></a>
        </div>-->
    </div>
</div>