<div id="sharings" class="row hidden-xs hidden-sm">
    <div class="col-xs-12">
        <div class="panel list sharings">
            {{#if Config.Site_Modules_Title}}<div class="panel-title"><span>{{Config.Site_Modules_Title}}</span></div>{{/if}}
            <div class="panel-body">
                <div class="text-center">
                    <ul class="list-unstyled list-inline">
                        <li><a target="_blank" href="https://www.facebook.com/Hispantv"><i class="icon-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/user/hispantv"><i class="icon-youtube"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/Hispantv"><i class="icon-twitter"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com/+hispantv/posts"><i class="icon-gplus"></i></a></li>
                        <li><a target="_blank" href="#"><i class="icon-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>