<div class="panel no-bg items-has-margin">
    <div class="panel-body">
        <div class="item">
            <div class="img">
                <a href="https://plus.google.com/+Hispantvpeliculas/posts" target="_blank"><img alt="" src="/Views/Assets/img/gplus.jpg"></a>
            </div>
        </div>
        <div class="item">
            <div class="img">
                <a href="https://www.facebook.com/PeliculasHispanTV" target="_blank"><img alt="" src="/Views/Assets/img/facebook.jpg"></a>
            </div>
        </div>
    </div>
</div>