<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbService" value="http://192.168.101.3:81/pl/frontend.svc/"/>
    <add key="VideoBaseHost" value="http://217.218.67.233:82/video/SiteVideo/"/>
    <add key="ImageBaseHost" value="http://93.190.24.9:83/images/thumbnail/"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <mimeMap fileExtension=".smil" mimeType="application/smil+xml"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>