<div id="bulletin" class="row hidden-xs hidden-sm">
    <div class="col-xs-12">
        <div class="panel media">
            <div class="panel-body">
                <a href="/nuclear" class="img" target="_blank">
                    <img src="/Views/Assets/img/nuclear.jpg" alt="" />
                </a>
                <br />
                <a href="http://93.190.24.12" class="img" target="_blank">
                    <img src="/Views/Assets/img/hispan_oldwebsite_banner.jpg" alt="Old Website" style="height:90px" />
                </a>
                <br />               
                {{#each Data}}
                <div class="item">
                    <div class="inner">
                        <div class="titles">
                            <span class="time">{{Introtext}}</span>
                            <span class="title">boletÍn de noticias</span>
                        </div>
                        <!--<div class="img{{#if hasVideo}} video{{/if}}">-->
                            <a href="{{url}}">
                                <span class="img{{#if hasVideo}} video{{/if}}">
                                    <img src="{{image}}" alt="{{Title}}" />
                                </span>
                            </a>
                        <!--</div>-->
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>