{{#each Data}}
<li class="{{#if first}} featured{{#else}}{{#if hasVideo}} featured img-right{{/if}}{{/if}}" data-id="{{Id}}">
    <div class="inner">
        <div class="img{{#if hasVideo}} video{{/if}}">
            <a href="{{url}}">
                <img src="{{image}}" alt="{{Title}}" />
            </a>
        </div>
        <div class="desc">
            <h3><a href="{{url}}">{{ShortTitle}}</a></h3>
            <p>{{Introtext}}</p>
            <div class="meta">{{Published}}</div>
        </div>
    </div>
</li>
{{/each}}