<div class="panel tabs has-request" data-params='{{Config.Site_Modules_Params}}' data-template="{{Config.Site_Modules_ViewPath}}">
    <div class="panel-title">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#reportajes" role="tab" data-toggle="tab"><span>Reportajes</span></a></li>
            <li><a href="#entrevistas" role="tab" data-toggle="tab" data-catid="128"><span>Entrevistas</span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active fade in" id="reportajes">
                {{#each Data}}
                <div class="item video big">
                    <a href="{{url}}">
                        <span class="img">
                            <img alt="{{Title}}" src="{{image}}" />
                        </span>
                        <span class="title-holder">
                            <span class="title">{{ShortTitle}}</span>
                        </span>
                    </a>
                </div>
                {{/each}}
            </div>
            <div class="tab-pane fade" id="entrevistas"></div>
        </div>
    </div>
</div>