<div class="panel tabs has-request">
    <div class="panel-title">
        <a href="{{Config.Site_Modules_Url}}"><span>{{Config.Site_Modules_Title}}</span></a>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active fade in">
                {{#each Data}}
                <div class="item video big">
                    <a href="{{url}}">
                        <span class="img">
                            <img alt="{{Title}}" src="{{image}}" />
                        </span>
                        <span class="title-holder">
                            <span class="title">{{ShortTitle}}</span>
                        </span>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>