<div class="panel bg_khaki box-nomargin itempicker">
    {{#if Config.Site_Modules_Title}}<div class="panel-title"><a href="{{Config.Site_Modules_Url}}"><span>{{Config.Site_Modules_Title}}</span></a></div>{{/if}}
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel item-pick" data-params='{{Config.Site_Modules_Params}}' data-template="{{Config.Site_Modules_ViewPath}}">
                <div class="panel-body">
                    <div class="categories">
                        <ul class="list-unstyled">
                            <li class="active"><a href="#" data-catid="82">Sociedad</a></li>
                            <li><a href="#" data-catid="80">Economía</a></li>
                            <li><a href="#" data-catid="86">Ciencia/Tec</a></li>
                            <li><a href="#" data-catid="91,92,93,94,95,96,97">Deporte</a></li>
                            <li><a href="#" data-catid="88">Salud</a></li>
                            <li><a href="#" data-catid="84">Cultura</a></li>
                        </ul>
                    </div>
                    {{#each Data}}
                    {{#if first}}
                    <div class="item">
                        <div class="inner">
                            <a href="{{url}}">
                                {{#if image}}<span class="img {{#if hasVideo}} video{{/if}}"><img src="{{image}}"   alt="{{Title}}" /></span>{{/if}}
                                <span class="title">{{ShortTitle}}</span>
                            </a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel list itemlist thumb">
                <div class="panel-body has_padding">
                    <ul class="list-unstyled">
                        {{#each Data}}
                        {{#if first}}{{#else}}
                        <li>
                            <div class="inner">
                                <a href="{{url}}">
                                    {{#if image}}<span class="img"><img src="{{image}}"  alt="{{Title}}" /></span>{{/if}}
                                    <span class="title">{{ShortTitle}}</span>
                                </a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                    {{#each Data}}
                        {{#if first}}
                            <a href="{{categoryUrl}}" class="more">Ver más</a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>