{{#each Data}}
{{#if first}}
<div class="item first-item">
    <div class="inner">
        <a href="{{url}}">
            {{#if image}}<span class="img {{#if hasVideo}} video{{/if}}"><img src="{{image}}" alt="{{Title}}" /></span>{{/if}}
            <span class="title">{{ShortTitle}}</span>
        </a>
    </div>
</div>
{{/if}}
{{/each}}
<ul class="list-unstyled more-items">
    {{#each Data}}
    {{#if first}}{{#else}}
    <li>
        <div class="inner">
            <a href="{{url}}">
                {{#if image}}<span class="img "><img src="{{image}}" alt="{{Title}}" /></span>{{/if}}
                <span class="title">{{ShortTitle}}</span>
            </a>
        </div>
    </li>
    {{/if}}
    {{/each}}
</ul>
{{#each Data}}
    {{#if first}}
        <a href="{{categoryUrlParent}}" class="more">Ver más</a>
    {{/if}}
{{/each}}