<div class="page-header">
    {{#if Config.Site_Modules_Title}}
    <h2><a href="{{Config.Site_Modules_Url}}">{{Config.Site_Modules_Title}}</a></h2>
    {{/if}}
</div>
<div id="gallery">
    <div class="row bg_khaki">
        <div class="col-xs-12">
            <div id="slideshow" class="row">
                <div class="col-xs-12">
                    <div class="panel slideshow gallery">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <div class="_relative">
                                        <div class="carousel-control">
                                            <a href="#" class="prev"><i class="icon-left"></i></a>
                                            <a href="#" class="next"><i class="icon-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="_relative">
                                        <div class="pages text-center">
                                            <span class="current">1</span>/<span class="total"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-unstyled">
                                {{#each Data}}
                                <li class="item">
                                    <div class="inner row">
                                        <div class="col-xs-12 col-sm-8">
                                            {{#if image}}
                                            <div class="img">
                                                <a href="{{url}}"> <img src="{{image}}" alt="{{Title}}" /></a>
                                            </div>
                                            {{/if}}
                                        </div>
                                        <div class="col-xs-12 col-sm-4 desc">
                                            <div class="desc">
                                                <h2><a href="{{url}}"> {{ShortTitle}} </a> </h2>
                                                <p>{{Introtext}}</p>
                                                <div class="date">{{Created}}</div>
                                                <div class="panel share">
                                                    <div class="panel-body">
                                                        <ul class="list-unstyled list-inline">
                                                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://hispantv.com{{url}}{{Title}}" target="_blank"><i class="icon-facebook"></i></a></li>
                                                            <li><a href="https://twitter.com/home?status=http://hispantv.com{{url}}{{Title}}" target="_blank"><i class="icon-twitter"></i></a></li>
                                                            <li><a href="https://plus.google.com/share?url=http://hispantv.com{{url}}{{Title}}" target="_blank"><i class="icon-gplus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>