<div id="latest" class="row">
    <div class="col-xs-12">
        <div class="panel title-tabs itemlist thumb tabs">
            <div class="panel-title">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="tab-2 active"><a href="#ultimas" role="tab" data-toggle="tab"><span>Últimas Noticias</span></a></li>
                    <li class="tab-1"><a href="#breves" role="tab" data-toggle="tab" data-catid="101" data-params='{{Config.Site_Modules_Params}}' data-template="ContentsList\Itemlist"><span>Breves</span></a></li>
                    <li class="tab-3"><a href="#lomas" role="tab" data-toggle="tab" data-type="popular" data-load=".sub-tabs"><span>LO MÁS LEÍDO</span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="ultimas">
                        <ul class="list-unstyled">
                            {{#each Data}}
                            <li>
                                <div class="inner">
                                    <a href="{{url}}">
                                        {{#if image}}<span class="img"><img src="{{image}}" alt="{{Title}}" /></span>{{/if}}
                                        <span class="title">{{ShortTitle}}</span>
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        <a href="/noticias" class="more">Ver más</a>
                    </div>
                    <div class="tab-pane fade" id="breves">
                        <ul class="list-unstyled"></ul>
                    </div>
                    <div class="tab-pane fade" id="lomas">
                        <div class="text-center">
                            <ul class="sub-tabs list-inline list-unstyled">
                                <li class="active"><a href="#popular1" data-time="24">24 horas</a></li>
                                <li><a href="#popular2" data-time="168">1 semana</a></li>
                                <li><a href="#popular3" data-time="720">1 mes</a></li>
                            </ul>
                            <div class="sub-tab-content text-left">
                                <div id="popular1"><ul class="list-unstyled"></ul></div>
                                <div id="popular2"><ul class="list-unstyled"></ul></div>
                                <div id="popular3"><ul class="list-unstyled"></ul></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>