<div class="panel itemlist slider" id="module-{{Config.Site_Modules_Id}}">
    {{#if Config.Site_Modules_Title}} <a href="{{Config.Site_Modules_Url}}"><div class="panel-title"><span>{{Config.Site_Modules_Title}}</span></div></a>{{/if}}
    <div class="panel-body">
        <div class="carousel-control">
            <a href="#" class="prev"><i class="icon-left"></i></a>
            <a href="#" class="next"><i class="icon-right"></i></a>
        </div>
        <ul class="list-unstyled">
            {{#each Data}}
            <li class="item{{#if hasVideo}} video{{/if}}">
                <div class="inner">
                    <a href="{{url}}">
                        {{#if image}}<span class="img{{#if hasVideo}} video{{/if}}"><img src="{{image}}" alt="{{Title}}" /></span>{{/if}}
                        <span class="title">{{ShortTitle}}</span>
                    </a>
                    <p class="introtext hide">{{Introtext}}</p>
                    <div class="section blue hidden-xs">
                        <a href="{{categoryUrl}}">{{categoryTitle}}</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>