{{#if Config.Site_Modules_Title}}
<div class="page-header">
    <h2 class="item-title">{{Config.Site_Modules_Title}}</h2>
</div>
{{/if}}
<div id="itemlist">
    <div class="panel itemlist thumb thumbs-large">
        <div class="panel-body">
            <ul class="list-unstyled">
                {{#each Data}}
                <li>
                    <div class="inner">
                        <div class="img">
                            <a href="{{url}}">
                                <img src="{{image}}" alt="{{Title}}" />
                            </a>
                        </div>
                        <div class="desc">
                            <h3><a href="{{url}}">{{ShortTitle}}</a></h3>
                            <p>{{Introtext}}</p>
                            <div class="meta">{{Published}}</div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="panel-footer">
            <div class="more text-center has-line">
                <a class="btn black" href="#">Ver más</a>
            </div>
        </div>
    </div>
</div>