<div id="ticker" class="wrapper hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="inner row">
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        {{#each Data}}
                            {{#if first}}
                                {{#if Config.Site_Modules_Title}}
                                    <div class="header{{#if isBreaking}} breaking{{/if}}">
                                        <span>{{#if isBreaking}}{{Config.Site_Modules_Title}}{{#else}}SÍganos En{{/if}}</span>
                                    </div>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="titles col-xs-8 col-sm-9 col-md-10">
                        <div class="titles">
                            <ul class="list-unstyled">
                                {{#each Data}}
                                    {{#if isBreaking}}
                                        <li {{#if isBreaking}} class="breaking"{{/if}}>{{Title}}</li>
                                    {{/if}}
                                {{/each}}
                                {{#each Data}}
                                    {{#if first}}
                                        {{#if isBreaking}}{{#else}}
                                            <li>Pueden seguirnos en las redes sociales</li>
                                            <li><a href="https://www.facebook.com/Hispantv" target="_blank">https://www.facebook.com/Hispantv</a></li>
                                            <li><a href="https://www.youtube.com/user/hispantv" target="_blank">https://www.youtube.com/user/hispantv</a></li>
                                            <li><a href="https://plus.google.com/+hispantv" target="_blank">https://plus.google.com/+hispantv</a></li>
                                            <li><a href="https://twitter.com/Hispantv" target="_blank">https://twitter.com/Hispantv</a></li>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>