<div class="panel tiles galleries">
    {{#if Config.Site_Modules_Title}}
    <header class="panel-title">
        <h2>
            <a href="{{Config.Site_Modules_Url}}">{{Config.Site_Modules_Title}}</a>
        </h2>
    </header>
    {{/if}}
    <section class="panel-body">
        <ul class="items row">     
            {{#if_first Data}}
            <li class="col-xs-12 col-sm-4 col-md-3">
                <figure class="img">
                    <a href="{{url}}"><img src="{{image}}" alt="{{Title}}" /></a>
                    <figcaption>
                        <a href="{{url}}">
                            <span class="title">1111111:{{ShortTitle}}</span>
                            <span class="desc">{{Introtext}}</span>
                        </a>
                    </figcaption>
                </figure>
            </li>
            {{else}}           
            <li class="col-xs-12 col-sm-4 col-md-3">
                <figure class="img">
                    <a href="{{url}}"><img src="{{image}}" alt="{{Title}}" /></a>
                    <figcaption>
                        <a href="{{url}}">
                            <span class="title">2222:{{ShortTitle}}</span>
                            <span class="desc">{{Introtext}}</span>
                        </a>
                    </figcaption>
                </figure>
            </li>
           {{/if_first Data}}
        </ul>
    </section>
</div>