<div class="panel top-news">
    <div class="panel-body">
        {{#each Data}}
        <div class="item">
            <div class="inner">
                <div class="img {{#if hasVideo}} video{{/if}}">
                    <a href="{{url}}"> {{#if image}}<img src="{{image}}" alt="{{Title}}" /></a>{{/if}}
                </div>
                <div class="section green hidden-xs">
                    <a href="{{categoryUrl}}">{{categoryTitle}}</a>
                </div>
                <div class="title">
                    <h2>
                        <a href="{{url}}">{{ShortTitle}}</a>
                    </h2>
                    <p class="hidden-xs">{{Introtext}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>