<div class="panel showcase">
    <section class="panel-body">
        <ul class="list-clean items">
            {{#each Data}}
            <li>
                <figure class="img">
                    <a href="{{url}}"><img src="{{image}}" alt="{{Title}}" /></a>
                    <figcaption>
                        <h3>
                            <a href="{{url}}">
                                <span class="title">{{ShortTitle}}</span>
                                <span class="desc hidden-sm hidden-xs">{{Introtext}}</span>
                            </a>
                        </h3>
                    </figcaption>
                </figure>
            </li>
            {{/each}}
        </ul>
    </section>
</div>