<div class="block ">
    <section class="inner">
        {{#if Config.Site_Modules_Title}}
        <ul class="nav nav-tabs header-border">
            <li class="active"><a href="#tab-1" data-toggle="tab">{{Config.Site_Modules_Title}}</a></li>
        </ul>
        {{/if}}
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-1">
                <div class="more more-link pull-right">
                    <a href="{{Config.Site_Modules_Url}}">بیشتر&nbsp;<i class="icon-left-small"></i></a>
                </div>
                <div class="more slider-pages pull-right">
                    <div class="pages"></div>
                </div>
                <div class="block slider">
                    <section class="inner">
                        <ul class="thumbs thumbs-horizontal">
                            {{#each Data}}
                            <li class="item">
                                <div class="img">
                                    <a href="{{url}}">
                                        <img src="{{image}}" alt="{{Title}}" />
                                    </a>
                                </div>
                                <h3 class="title">
                                    <a href="{{url}}">{{Title}}</a>
                                </h3>
                            </li>
                            {{/each}}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>