/* TODO */
.pagination {
    & > li {
        & > a, & > span {
            border: 0 none !important; color: #333;
        }
        &.active {
            & > a, & > span {
                color: #333; background: #ddd;
            }
        }
    }
}
.alert {
    &.alert-info {
        &.bg_grey {
            border: 0 none; border-radius: 0; color: #727272; margin-top: 20px;
            a { color: #a61b21; }
        }
    }
}
.select-box {
    position: relative;
    ul.items {
        width: 100%; position: absolute; top: 28px; left: 0; margin: 0; padding: 0; list-style: none; z-index: 800; background: #000; border-top: 3px solid #222; height: 200px; overflow-x: hidden; overflow-y: auto;
        li {
            width: 100%;
            a {
                padding: 3px 5px; color: #fff; display: block; white-space: nowrap; font-size: 13px;
                &:hover { text-decoration: none; }
            }
            &:hover {
                background: #333;
                a { color: #eee; }
            }
        }
    }
}