<div class="panel itemlist slider {{#if Config.htmlClass}} {{Config.htmlClass}}{{/if}}"{{#if Config.visibleCount}} data-count="{{Config.visibleCount}}" {{/if}}>
    {{#if Config.Site_Modules_Title}}<div class="panel-title">
        <a href="{{Config.Site_Modules_Url}}">
            <span>{{Config.Site_Modules_Title}}</span>
        </a>
    </div>{{/if}}
    <div class="panel-body">
        <div class="carousel-control">
            <a class="prev" href="#"><i class="icon-left"></i></a>
            <a class="next" href="#"><i class="icon-right"></i></a>
        </div>
        <ul class="list-unstyled">
            {{#each Data}}
            <li class="item">
                <div class="inner">
                    <a href="{{Url}}">
                        <span class="img"><img alt="{{Title}}" src="{{Image}}" /></span>
                        <span class="title">{{Title}}</span>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>