<div class="panel tiles media-tiles">
    <div class="panel-title">
        {{#if Config.Site_Modules_Title}}
        <h3>{{Config.Site_Modules_Title}}</h3>
        {{/if}}
    </div>
    <div class="panel-body">
        <!--<div class="items-filter">
            <ul class="list-unstyled list-inline">
                <li class="active"><a href="#">A-Z</a></li>
                <li><a href="#">Z-A</a></li>
                <li><a href="#">#</a></li>
                <li><a href="#">Newest First</a></li>
                <li><a href="#">Oldest First</a></li>
            </ul>
        </div>-->
        <div class="row">
            <ul class="list-unstyled">
                {{#each Data}}
                <li class="tile col-xs-12 col-sm-3">
                    <div class="inner">
                        <div class="img video">
                            <a href="{{Url}}">
                                <img src="{{Image}}" alt="{{Title}}" />
                            </a>
                        </div>
                        <div class="desc">
                            <h4><a href="{{Url}}">{{Title}}</a></h4>
                            <!--<div class="episode">Episode 0</div>-->
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <!--<div class="panel-footer">
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>-->
</div>