<div class="row hidden-xs hidden-sm" id="most-viewed">
    <div class="col-xs-12">
        <div class="panel list media carousel">
            {{#if Config.Site_Modules_Title}}<div class="panel-title"><span>{{Config.Site_Modules_Title}}</span></div>{{/if}}
            <div class="panel-body">
                <div class="counter">
                    <span class="current">1</span>&nbsp;de&nbsp;
                    <span class="total"></span>
                </div>
                <ul class="list-unstyled">
                    {{#each Data}}
                    <li class="item">
                        <div class="inner">
                            {{#if Image}}
                            <div class="img video">
                                <a href="{{Url}}">
                                    <img  src="{{Image}}"   alt="{{Title}}" />
                                </a>
                            </div>
                            {{/if}}
                            <a href="{{Url}}">{{Title}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <div class="carousel-control text-center">
                    <a class="prev" href="#"><i class="icon-up"></i></a>
                    <a class="next" href="#"><i class="icon-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>