<div class="panel tabs has-request" data-params='{{Config.Site_Modules_Params}}' data-template="{{Config.Site_Modules_ViewPath}}">
    <div class="panel-title">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#programas" role="tab" data-toggle="tab"><span>Programas</span></a></li>
            <li><a href="#documentales" role="tab" data-toggle="tab" data-kind="3"><span>Documentales</span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active fade in" id="programas">
                <div class="inner">
                    <div class="row">
                        <div class="col-xs-6">
                            {{#each Data}}
                            {{#if first}}
                            <div class="item video medium">
                                <a href="{{Url}}">
                                    <span class="img">
                                        <img alt="{{Title}}" src="{{Image}}" />
                                    </span>
                                    <span class="title">{{Title}}</span>
                                </a>
                                <!--<div class="air-table">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Monday 12:00 GMT</a></li>
                                        <li><a href="#">Monday 12:00 GMT</a></li>
                                        <li>Monday 12:00 GMT</li>
                                        <li>Monday 12:00 GMT</li>
                                    </ul>
                                </div>-->
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <div class="col-xs-6">
                            <div class="itemlist thumb">
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        {{#each Data}}
                                        {{#if first}}{{#else}}
                                        <li>
                                            <div class="inner">
                                                <a href="{{Url}}">
                                                    <span class="img"><img alt="{{Title}}" src="{{Image}}" /></span>
                                                    <span class="title">{{Title}}</span>
                                                </a>
                                            </div>
                                        </li>
                                        {{/if}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="documentales"></div>
        </div>
    </div>
</div>