<div class="panel episodes">
    <div class="panel-body">
        <ul class="list-unstyled">
            {{#each Data}}
            <li>
                <div class="inner row">
                    <div class="item-img col-xs-4">
                        <div class="img video">
                            <a href="{{Url}}">
                                <img src="{{Image}}" alt="{{Title}}" />
                            </a>
                        </div>
                    </div>
                    <div class="desc col-xs-5">
                        <h3>
                            <a href="{{Url}}">{{Title}}</a>
                        </h3>
                        <p>{{IntroText}}</p>
                    </div>
                    <!--<div class="schedule col-xs-3">
                        <div class="text-group">
                            <p><strong>First Run:</strong></p>
                            <p>Sábado 03:30 GMT </p>
                        </div>
                        <div class="text-group">
                            <p><strong>Repeats:</strong></p>
                            <p>Sábado 09:33 GMT </p>
                            <p>Domingo 15:00 GMT </p>
                            <p>Domingo 21:33 GMT </p>
                            <p>Lunes 05:33 GMT </p>
                            <p>Martes 19:33 GMT</p>
                        </div>
                    </div>-->
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>