<div class="panel tabs Programs has-request">
    <div class="panel-title">
        <a href="{{Config.Site_Modules_Url}}"><span>{{Config.Site_Modules_Title}}</span></a>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active fade in">
                <div class="inner">
                    <div class="row">
                        <div class="col-xs-6">
                            {{#each Data}}
                            {{#if first}}
                            <div class="item video medium">
                                <a href="{{Url}}">
                                    <span class="img">
                                        <img alt="{{Title}}" src="{{Image}}" />
                                    </span>
                                    <span class="title">{{Title}}</span>
                                </a>
                                <!--<div class="air-table">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Monday 12:00 GMT</a></li>
                                        <li><a href="#">Monday 12:00 GMT</a></li>
                                        <li>Monday 12:00 GMT</li>
                                        <li>Monday 12:00 GMT</li>
                                    </ul>
                                </div>-->
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <div class="col-xs-6">
                            <div class="itemlist thumb">
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        {{#each Data}}
                                        {{#if first}}{{#else}}
                                        <li>
                                            <div class="inner">
                                                <a href="{{Url}}">
                                                    <span class="img"><img alt="{{Title}}" src="{{Image}}" /></span>
                                                    <span class="title">{{Title}}</span>
                                                </a>
                                            </div>
                                        </li>
                                        {{/if}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>