<div class="panel itemlist tabs has-request" data-params='{{Config.Site_Modules_Params}}' data-template="{{Config.Site_Modules_ViewPath}}">
    <div class="panel-title">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#PELÍCULAS" role="tab" data-toggle="tab" data-kind="1"><span>PELÍCULAS</span></a></li>
            <li><a href="#Series" role="tab" data-toggle="tab" data-kind="2"><span>Series</span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active fade in" id="PELÍCULAS">
                <div class="panel itemlist slider">
                    <div class="panel-body">
                        <div class="carousel-control">
                            <a href="#" class="prev"><i class="icon-left"></i></a>
                            <a href="#" class="next"><i class="icon-right"></i></a>
                        </div>
                        <ul class="list-unstyled" data-auto="false">
                            {{#each Data}}
                            <li class="item">
                                <div class="inner">
                                    <a href="{{Url}}">
                                        <span class="img"><img src="{{Image}}" alt="{{Title}}" /></span>
                                        <span class="title">{{Title}}</span>
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Series"></div>
        </div>
    </div>
</div>