<div class="panel itemlist slider">
    <div class="panel-body">
        <div class="carousel-control">
            <a href="#" class="prev"><i class="icon-left"></i></a>
            <a href="#" class="next"><i class="icon-right"></i></a>
        </div>
        <ul class="list-unstyled">
            {{#each Data}}
            <li class="item">
                <div class="inner">
                    <a href="{{Url}}">
                        <span class="img"><img src="{{Image}}" alt="{{Title}}" /></span>
                        <span class="title">{{Title}}</span>
                    </a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>