@media (min-width: @screen-lg-min) {
    .panel.panorama ul li a { max-height: 131px !important; }
}
// MD
@media (min-width: @screen-md-min) {
    #menu { display: block !important; }
    .panel.showcase {
        .owl-controls { z-index: 80; }
         ul li figure { height: 530px; }
    }
    .panel.panorama ul li a { max-height: 147px; }
}
// SM
@media (max-width: @screen-sm-max) {
    #showcase { position: relative; z-index: 100; }
    .panel.showcase ul li figure { height: auto !important; }
    .panel.panorama ul li a { max-height: 173px; }
    .panel {
        &.tiles {
            ul li { height: 230px; max-height: 230px; }
            &.galleries {
                ul li {
                    height: auto;
                    figure figcaption { position: static; opacity: 1; height: 80px; }
                }
            }
        }
    }
    #menu {
	    margin: 0; position: absolute; width: 100%; left: 0; top: 80px; background: #f7f7f7; display: none; z-index: 2000;
	    ul {
	        li {
		        display: block; float: none;
		        & ~ li { border-top: 1px solid #eee; }
		        a { line-height: 40px; }
	        }
            .child {
                position: static; width: 100%; border-top: 6px solid #eee;
                a { padding-left: 20px; }
            }
	    }
    }
    .owl-controls { display: none; }
}
// XS
@media (max-width: @screen-xs-max) {
    .panel.showcase ul li figure { height: auto !important; }
    .panel.panorama ul li a { max-height: none !important; }
    .panel {
        &.tiles {
            ul li { height: auto; max-height: none; }
            &.galleries {
                ul li {
                    height: auto;
                    
                }
            }
        }
    }
}